<div class="navbar">
  <a [routerLink]="['/']">aptem. Stock Checker</a>
</div>

<main>
  @if (stock(); as stock) {
  <h1>Stocklist</h1>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
      </tr>
    </thead>

    <tbody>
      @for (s of stock; track s.item) {
      <tr>
        <td>{{ s.item }}</td>
        <td>{{ s.quantity }}</td>
      </tr>
      }

      <!-- Footer -->
      @if (stockTotal$ | async; as total) {
      <tr>
        <td><strong>Total:</strong></td>
        <td>
          <strong>{{ total }}</strong>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
</main>
